h1 {
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
}

h1.a {
  /* h-shadow | v-shadow | color */
  text-shadow: 0.2rem 0.2rem blue;
}

h1.b {
  /* h-shadow | v-shadow | blur | color */
  text-shadow: 0.4rem 0.3rem 0.7rem blue;
}

h1.c {
  color: white;
  /* h-shadow | v-shadow | blur | color */
  text-shadow: 0.2rem 0.2rem 1rem blue;
}

h1.d {
  /* Negative Value */

  /* h-shadow | v-shadow | blur | color */
  text-shadow: -0.2rem -0.2rem 0.7rem blue;
}
